#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 {
	text-align: left;
}.rtl #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 {
	text-align: right;
}#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li > a {
			
			
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected:hover,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected:hover,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected:hover > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected:hover > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.selected,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.childselected,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.selected:hover,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.childselected:hover,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.selected > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.childselected > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.selected:hover > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li.childselected:hover > a,
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 > li.normal > a { color: #000000;}
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 > li.normal > a { background-color: transparent; } #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 > li.normal > a { background-image: none; }
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected > a, #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected > a { color: #000000; }
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul > li.normal > a { color: #000000; }#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul > li.normal > a { background-image: none; }
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul > li.normal > a { background-color: #FFFFFF; }
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected > a, #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected > a, #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul > li.childselected > a { background-color: #FFFFFF; }
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.normal:hover > a { color: #000000; }
		#navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.normal:hover > a { background-color: #FFFFFF; } #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected > a, #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected > a, #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected > a,
		.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected > a { color: #000000; }.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.selected > a,
		.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li.childselected > a { background-color: transparent; }.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li:hover > a { color: #000000; }.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 li:hover > a { background-color: transparent; }.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul > li > a { color: #000000; }.mobile-view #navigation-3c58660e-802f-6f17-0bd8-c1000eb51557 ul > li > a { background-color: transparent; }